<!-- <div>
    <a href="">
        <img id="fb" src="\assets\facebook.png" alt="Facebook Icon">
    </a>
    <a href="">
        <img id="gm" src="\assets\gmail.png" alt="Gmail Icon">
    </a>
    <a href="">
        <img id="ig" src="\assets\instagram.png" alt="Instagram Icon">
    </a>
    <a href="">
        <img id="gh" src="\assets\github.png" alt="GitHub Icon">
    </a>
    <app-button text="{{ejemploBoolean ? 'LOGOUT' : 'LOGIN'}}" (btnClick)="toogleAddUser()"></app-button>
</div> -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse collapse-horizontal navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#"><a href="">
                    <img id="gm" src="\assets\gmail.png" alt="Gmail Icon">
                </a></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><a href="">
                    <img id="ig" src="\assets\instagram.png" alt="Instagram Icon">
                </a></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><a href="">
                    <img id="gh" src="\assets\github.png" alt="GitHub Icon">
                </a></a>
        </li>
    </ul>
    <app-button text="{{ejemploBoolean ? 'LOGOUT' : 'LOGIN'}}" (btnClick)="toogleAddUser()"></app-button>
