<app-ingresar></app-ingresar>
<app-banner></app-banner>
<app-about></app-about>
<app-cuerpo *ngFor="let acerca of about"
[acerca]= "acerca" (onDeleteInfo)="deleteInfo(acerca)"></app-cuerpo>
<app-experience (onAddChanges)="addChanges($event)" *ngIf="editarPagina"></app-experience>
<app-education></app-education>
<!-- <app-form-info (agregarChanges)="modificarChanges($event)"></app-form-info> -->
<app-skills></app-skills>
<app-projects></app-projects>
<!-- *ngFor="let educ of education"
[educ]= "educ" (onDelete)="borrar(educ)" -->