<div class="col-12">
    <img id="perfil" src="\assets\yo.png" class="img-fluid" alt="...">
</div>
<div class="row blanco">
    <div class="d-flex justify-content-center">
        <p>a</p>
        <p>a</p>
        <p>a</p>
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-center">
        <h1 class="texto">Lourdes Ramos</h1>
    </div>
    <h3>Developer Full Stack Jr</h3>
</div>
<!-- <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <p>probandoo</p>
        <h2 class="texto">Sobre mí<app-edicion *ngIf="ejemploBoolean"></app-edicion>
        </h2>
        <p>
            Hola! Mi nombre es Lourdes, soy una desarrolladora web ubicada en Argentina con un especial interés en la creación y diseño de obras completamente originales, autodidacta, trabajadora independiente y amante de la música.
        </p>
    </div>
    <div class="col-3"></div>
</div> -->

