* {
    background-color: #f1f1f1;
}

.blanco {
    color: #f1f1f1;
    font-size: 10vw;
}

.row {
    text-align: center;
}

#perfil {
    position: absolute;
    justify-content: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 25%;
    border-radius: 100%;
}

#name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    position: relative;
    text-align: center;
    top: 20%;
    transform: translate(0, -170%);
    padding: 0;
    margin: 0;
    text-align: center;
}