<!-- <div class="titulo">
    <h2 class="texto">Formación Académica</h2>
    <app-edicion *ngIf="ejemploBoolean"></app-edicion>
</div>
<div class="col-12"
>
    <p class="texto titleInfo">{{educ.title}}</p>
    <p class="textoInfo">{{educ.text}}<img 
        id="x" 
        src="\assets\x.png" 
        alt="Eliminar"
        (click)="borrar(educ)"
        *ngIf="editarPagina"
    ></p>
    
    <h2 class="texto">Sobre mí<app-edicion *ngIf="ejemploBoolean"></app-edicion>
    </h2>
    <p>
        Hola! Mi nombre es Lourdes, soy una desarrolladora
        web ubicada en Argentina con un especial interés en
        la creación y diseño de obras completamente originales,
        autodidacta, trabajadora independiente y amante de
        la música.
    </p>
</div> -->
<div class="todo">
    <div>
        <h2 class=texto>Formación Académica</h2>
        <ul>
            <p>Educación Primaria</p>
            <li>E.P.E.P. N°158 'Sargento Cabral' 2009-2015</li>
            <p></p>
            <li>E.P.E.S. N°2 'Batalla de Maipú' 2016-2021</li>
        </ul>
    </div>
    <div>
        <h2 class=texto>Cursos</h2>
        <ul>
            <p>Future Learn</p>
            <li>Basic English 1: Elementary 2021</li>
            <li>Basic English 2: Pre-Intermediate 2021</li>
            <p>Argentina Programa</p>
            <li>#SéProgramar 2022</li>
            <li>#YoProgramo 2022</li>
        </ul>
    </div>
</div>