* {
    background-color: #f1f1f1;
    text-align: center;
}

.row {
    padding: 20px;
}

.todo {
    padding-bottom: 20px;
    padding-top: 20px;
}

div {
    background-color: #f1f1f1;
    text-align: center;
}

.title {
    font-size: 1.4rem;
    padding-bottom: 5px;
    margin: 0;
}

ul {
    list-style: none;
    margin-left: -30px;
}

p {
    font-size: 1.4rem;
}
