<div class="row">
    <div class="col-3"></div>
        <div class="col-6">
            <h3 class="texto">Habilidades</h3>
            <app-edicion *ngIf="ejemploBoolean"></app-edicion>
        <p>HTML 5</p>
        <div class="progress">
            <div class="bg-dark progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-label="Animated striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                style="width: 80%"></div>
        </div>
        <br>
        <p>CSS</p>
        <div class="progress">
            <div class="bg-dark progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                style="width: 70%"></div>
        </div>
        <br>
        <p>JavaScript</p>
        <div class="progress">
            <div class="bg-dark progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-label="Animated striped example" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                style="width: 40%"></div>
        </div>
        <br>
        <p>Inglés</p>
        <div class="progress">
            <div class="bg-dark progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                style="width: 75%"></div>
        </div>
    </div>
    <div class="col-6"></div>
</div>