<!-- 
    AGREGAR CUANDO TENGA EXPERIENCIA LABORAL
-->

<!-- ESTE ES EL ADD INFO -->
<!-- <div class="blanco col-12">
    <h1>a</h1>
</div> -->
<form
(ngSubmit)="onSubmit()"
>
    <div class="input" >
        <input 
        type="text"
        name="text"
        placeholder="Enter your info"
        [(ngModel)]="text"
        id="text"
        >
        <input 
        type="text"
        name="title"
        placeholder="Enter your title"
        [(ngModel)]="title"
        id="title"
        >
        <input 
        type="submit"
        value="Listo"
        class="btn btn-block"
        >
    </div>
</form>
